/* colour palette
background #a8dadc
bold #457b9d
text #1d3557
*/

.linkedin {
	color: #0077B5;
	
}
/* LINK CSS */
.link {
  color: ;
}
.link:link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.link:active {
  text-decoration: none;
}


hr {
    border: 0;
    height: 2px;
    margin: 6px 0;
    position:relative;
	background: linear-gradient(to right, transparent, #457b9d,transparent);
}

@media screen and (max-width: 576px) {
  #curvename {
    display: none;
  }
  #straightname {
  	display: block;
  }
}

@media screen and (min-width: 576px) {
  #straightname {
  	display: none;
  }
}

@media screen and (max-width: 576px) {
  #profileimage {width:20px height:20px}
}

@media screen and (min-width: 576px) {
  #profileimage {width:50px height:50px;}
}